@import url('@/assets/font/iconfont.css');
.el-icon-close::before {
  font-family: 'iconfont';
  content: '\e668' !important;
}
.el-icon-warning::before {
  font-family: 'iconfont';
  content: '\e848' !important;
}
.el-icon-info::before {
  font-family: 'iconfont';
  content: '\e67d' !important;
}
.el-icon-error::before {
  font-family: 'iconfont';
  content: '\ed4f' !important;
}