@font-face {
  font-family: "iconfont"; /* Project id 3462848 */
  src: url('iconfont.woff2?t=1655305170441') format('woff2'),
       url('iconfont.woff?t=1655305170441') format('woff'),
       url('iconfont.ttf?t=1655305170441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e64e";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-dianziqianmingx:before {
  content: "\e8f6";
}

.icon-minganfangkong:before {
  content: "\e615";
}

.icon-dangjian_dangzhangdanggui:before {
  content: "\e675";
}

.icon-roundclose:before {
  content: "\e659";
}

.icon-backward:before {
  content: "\e655";
}

.icon-info:before {
  content: "\e67d";
}

.icon-warning-circle-fill:before {
  content: "\e848";
}

.icon-error:before {
  content: "\ed4f";
}

.icon-close:before {
  content: "\e668";
}

